<!-- Diretivas para uso do Template Engine (JINJA2) -->
{% extends "template.html" %}
{% block conteudo %}

<div {{ 'hidden' if session['usuario_logado'] != None }} >
    <h2>Olá, investidor(a)! Seja bem vindo(a)!</h2>
    <p>Essa aplicação tem por objetivo principal permitir o gerenciamento de ativos de Fundo de Investimentos Imobiliários (FIIs).</p>
    <p>Por meio dela, será possível visualizar e gerenciar a sua carteira de ativos, por meio de cadastro de operações, informações de Imposto de Renda, etc. </p>
</div>

<div {{ 'hidden' if session['usuario_logado'] == None }} >
    <h2>
        Olá, {{ session['usuario_logado'][1]}}!
        <a href="/logout" class="btn btn-primary">Logout</a>
    </h2>
        {% if ativos %}
        <fieldset>
            <legend>Minha Carteira:</legend>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Ativo</th>
                        <th>Quantidade</th>
                        <th>Total Aplicado</th>
                        <th>Preço Médio da Cota</th>
    <!--                    <th>Valor Atual da Cota</th>
                        <th>Valor Total</th>
                        <th>Valorização</th> -->
                    </tr>
                </thead>
                <tbody>

                {% for ativo in ativos %}
                    <tr>
                        <td>{{ ativo['ativo'] }}</td>
                        <td>{{ ativo['quantidade'] }}</td>
                        <td>{{ ativo['valor_aplicado'] }}</td>
                        <td>{{ ativo['preco_medio_cota'] }}</td>
    <!--                    <td>{{ ativo['valor_atual_cota'] }}</td>
                        <td>{{ ativo['valor_total_atual'] }}</td>
                        <td>{{ ativo['valorizacao'] }}</td>-->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
        {% else %}
        <div>
            <h4>Você ainda não possui ativos em sua carteira.</h4>
            <p>Clique <a href="/operacao/novo">aqui</a> para cadastrar a sua primeira operação.</p>
        </div>
        {% endif %}
</div>

{% endblock %}