<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FIIs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'bootstrap.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{url_for('home')}}">Home</a>
      <div class="navbar justify-content-end" {{ 'hidden' if session['usuario_logado'] == None }} >
        <a class="nav-link" href="#">Carteira</a>
        <a class="nav-link" href="#">Operações</a>
        <a class="nav-link" href="#">Ativos</a>
        <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
      </div>
     <div class="navbar justify-content-end" {{ 'hidden' if session['usuario_logado'] != None }} >
        <a class="nav-link" href="{{url_for('login')}}">Login</a>
        <a class="nav-link" href="{{url_for('novo_usuario')}}">Cadastra-se</a>
      </div>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="page-header">
          <h1>{{ titulo }}</h1>
        </div>
    <!-- Diretivas para uso do Template Engine (JINJA2) -->
    {% block conteudo %}{% endblock %}

    </div>
</body>
</html>